<!-- Edit Detail View -->
  
<div id="editDetail"
     data-role="view" 
     data-title="Edit Details" 
     data-show="app.viewModels.Orders_of_Cust_dataViewModel.onShowEditDetailView" 
     data-hide="app.viewModels.Orders_of_Cust_dataViewModel.onHideEditDetailView" 
     data-init="app.viewModels.Orders_of_Cust_dataViewModel.onInitEditDetailView" 
     data-model="app.viewModels.Orders_of_Cust_dataViewModel">
    
    <header data-role="header" data-id="jitterz-default-header">
        <div data-role="navbar">
            <a id="editDetailCancelButton" data-role="button" data-align="left" data-click="app.viewModels.Orders_of_Cust_dataViewModel.cancelEditDetail" type="button">Cancel</a>
            <span data-role="view-title"></span>
            <a id="editDetailDoneButton" data-role="button" data-align="right" data-click="app.viewModels.Orders_of_Cust_dataViewModel.doneEditDetail"  type="button">Done</a>
        </div>
    </header>
    
    <div data-role="content">
        <ul id="editDetailList"
            data-role="listview"
            data-init="app.viewModels.Orders_of_Cust_dataViewModel.onInitEditDetailView"
            data-show="app.viewModels.Orders_of_Cust_dataViewModel.onShowEditDetailView"  
            data-style="inset">
            <li>
                <label><input type="text" readonly="true" data-bind="value: selectedRow.OrderNum"/>Order Num:</label>
            </li>
            <li>
                <label><input type="text" data-bind="value: selectedRow.SalesRep"/>SalesRep:</label>
            </li>
            <li>
                <label><input type="text" data-bind="value: selectedRow.OrderStatus"/>Order Status:</label>
            </li>
            <li>
                <label><input type="text" data-bind="value: selectedRow.CustNum"/>Customer Num:</label>
            </li>            
            <li>
                <label><input type="text" data-bind="value: selectedRow.Carrier"/>Carrier:</label>
            </li>
    	</ul>    
    </div>
</div>


<div id="modalview-confirm" data-role="modalview">
    <div data-role="header">
        <div data-role="navbar">
            <span>Confirm Delete</span>
        </div>
    </div>
    <div>
    	<p>Are you sure you want to delete the selected record?</p>
    </div>
    <div class="buttonDiv">
		<p align="center">
			<button class="msgButton" data-click="app.viewModels.Orders_of_Cust_dataViewModel.cancelDelete" data-role="button">Cancel</button>
            <button class="msgButton" data-click="app.viewModels.Orders_of_Cust_dataViewModel.deleteRow" data-role="button">Delete</button>
       	</p>
    </div>
</div>



    