<!-- <!DOCTYPE html>

<html>
    <div id="orderofcustomer"
         data-role="view"
         data-title="Orders of Customer"
         data-model="app.viewModels.dataViewModel"
         data-show="app.viewModels.onShowDetailView"
         data-hide="app.viewModels.onHideOrdersofCustPage"> 
    
    <head data-role="header">
        <div data-role="navbar">            
            <a class="nav-button" data-role="button" href="views/listView.html" data-align="left">Back</a>            
        </div>        
    </head>
    
        <div id="ordersofcustomerform">
            
            <ul id="odersofcustomersList"
                data-role="listview"
                data-style="inset"                
            </ul>
        </div>
            
    
    </div>    
</html> -->


<!-- List view -->

<div id="orderofcustomer"
     data-role="view" 
     data-style="inset" 
     data-title="Orders of Customer" 
     data-init="app.viewModels.Orders_of_Cust_dataViewModel.onInit"
     data-show="app.viewModels.Orders_of_Cust_dataViewModel.onBeforeShow"
     data-model="app.viewModels.Orders_of_Cust_dataViewModel">
    <ul id="orderofcustomerView" 
        data-role="listview" data-style="inset">
    </ul>        
    
     <header data-role="header">
        
        <div data-role="navbar">
            <a class="nav-button" data-role="button"  href="views/listView.html" data-align="left">Back</a>              
        </div>
    </header>    
</div>

<div id="confirmRefresh" 
     data-role="modalview">
     <div data-role="header">
          <div data-role="navbar">
              <span>Unsaved Changes</span>
          </div>
     </div>

     <div id="msgText">
       <p>Press Cancel so you can save the changes first.</p>
       <p>Press Refresh to continue without saving.</p>
     </div>

     <p align="center">
        <button class="dlgButton" data-click="app.viewModels.Orders_of_Cust_dataViewModel.cancelRefresh" data-role="button">Cancel</button>
        <button class="dlgButton" data-click="app.viewModels.Orders_of_Cust_dataViewModel.continueRefresh" data-role="button">Refresh</button>
     </p>
</div>
